# 工作流名称
name: Sync-Images-to-DockerHub-Example
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to DockerHub.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        #username: ${{ secrets.DOCKER_USERNAME }}
        #password: ${{ secrets.DOCKER_PASSWORD }}
        ##阿里云镜像仓库
        username: ${{ secrets.DOCKER_USERNAME_HENRY }}
        password: ${{ secrets.DOCKER_PASSWORD_HENRY }}
        logout: false
        
    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
        #!/usr/bin/env bash
        skopeo copy docker://supabase/studio:2025.12.09-sha-434634f  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-studio:2025.12.09-sha-434634f
        skopeo copy docker://kong:2.8.1  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/kong:2.8.1
        skopeo copy docker://supabase/gotrue:v2.183.0  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-gotrue:v2.183.0
        skopeo copy docker://postgrest/postgrest:v14.1  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/postgrest-postgrest:v14.1
        skopeo copy docker://supabase/realtime:v2.68.0 docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-realtime:v2.68.0
        skopeo copy docker://supabase/storage-api:v1.33.0  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-storage-api:v1.33.0
        skopeo copy docker://darthsim/imgproxy:v3.8.0  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/darthsim-imgproxy:v3.8.0
        skopeo copy docker://supabase/postgres-meta:v0.93.1   docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-postgres-meta:v0.93.1
        skopeo copy docker://supabase/logflare:1.26.25  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-logflare:1.26.25
        skopeo copy docker://supabase/postgres:15.8.1.085   docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-postgres:15.8.1.085
        skopeo copy docker://timberio/vector:0.28.1-alpine  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/timberio-vector:0.28.1-alpine 
        skopeo copy docker://supabase/supavisor:2.7.4  docker://registry.cn-hangzhou.aliyuncs.com/henry-public/supabase-supavisor:2.7.4
    

